
.container-login {

    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}



.formGroup {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #98cba9;
  border-radius: 5px;
  font-size: 16px;
  color: #648370;
  background-color: #f9f9f9;
  transition: all 0.2s ease;
}

.formGroup input:focus {
  outline: none;
  border-color: #9bd3ae;
  box-shadow: 0 0 5px rgba(152, 203, 169, 0.5);
}

.label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.button {
  background-color: #52796f;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.2s ease;
  width: 100%;
}

button:hover {
  background-color: #39584e;
  transform: scale(1.05);
}

.sucesso {
  color: #1b5e20;
  margin-top: 1rem;
  font-weight: bold;
}

.erro {
  color: #b71c1c;
  margin-top: 1rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
    max-width: 300px;
    padding: 1.5rem;
  }
}
