
.textoProduto  {
      display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
}

.containerProdutos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #648370;
  padding: 20px;
  width: 100%;
  margin-top: 40px;
}

.itens {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.item{
	background-color: white;
	border-radius: 10px;
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 10px 10px 22px 7px black;
    margin: 50px 10px;
    width: 90%;
}

.product{
    text-align: center;
    background-color: darkslategrey;
    height: 500px;
    width: 100%;
    border-radius: 10px;
 
}

.botaoCompra {
    background-color: #2c6e49; 
    color: white; 
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px; 
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 100%;
    margin-top: 10px;
}

.sectionMain {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}
