.link {
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0.5rem;
  width: 200px;
  transition: transform 0.2s;
}

.link:hover { 
  transform: scale(1.05);
}

.imagemProduto { 
  border-radius: 10px; object-fit: cover; 
}

.preco { 
  font-weight: bold; color: #2c7a2c; 
}
