.sectionMain { 
  text-align: center; padding: 1rem; 
}

.imagem { 
  border-radius: 10px; object-fit: cover; margin: 1rem 0; 
}

.preco { 
  font-weight: bold; color: #2c7a2c; margin-bottom: 0.5rem;
}

.descricao {
  max-width: 500px; margin: 1rem auto; text-align: justify; 
}

.botaoVoltar {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #2c7a2c;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.botaoVoltar:hover { background-color: #276527; }
