  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Nunito', sans-serif;
    background-color: #648370;
    overflow-x: hidden;
    color: #000000;
  }
  
  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
    margin: 0;
    padding: 0;
  }
  
  
  .titulo {
    text-align: center;
    font-size: 60px;
    padding: 20px 0;
    color: #000000;
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 10px 0;
    background-color: #85af95;
    margin: 0;
    flex-wrap: wrap;
  }
  
  .menu-link,
  .botao-login {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    border-radius: 0; 
  }
  
  .menu-link:hover,
  .botao-login:hover {
    background-color: #52796f;
    border-radius: 8px;
    transform: translateY(-2px);
    cursor: pointer;
  }

  
  button {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  .footer {
    background-color: #85af95;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 40px;
  }



#btn-modo-escuro {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #52796f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

#btn-modo-escuro:hover {
    transform: scale(1.1);
    background: #354f52;
}


body.modo-escuro {
    background-color: #1a1a1a;
    color: #ffffff;
}
body.modo-escuro .menu-link,
body.modo-escuro .botao-login,
body.modo-escuro .titulo{
    color: #ffffff !important 
}
body.modo-escuro .texto,
body.modo-escuro .texto2,
body.modo-escuro .texto3,
body.modo-escuro p,
body.modo-escuro li 
body.modo-escuro .texto-produto,

body.modo-escuro .texto-produto p {
    color: #ffffff;
}

body.modo-escuro .menu {
    background-color: #2d2d2d;
}

body.modo-escuro .menu-link:hover,
body.modo-escuro .botao-login:hover {
    background-color: #52796f;
}

body.modo-escuro .container-produtos {
    background-color: #1a1a1a;
}

body.modo-escuro .item {
    background-color: #2d2d2d;
    color: #ffffff;
    box-shadow: 10px 10px 22px 7px rgba(0,0,0,0.5);
}

body.modo-escuro .product {
    background: #3a3a3a; 
}

body.modo-escuro .botao-compra {
    background-color: #52796f;
    color: white;
}

body.modo-escuro .botao-compra:hover {
    background-color: #354f52;
}


body.modo-escuro .footer {
    background-color:  #2d2d2d;
    color: white;
}

body.modo-escuro .h2, .ul{
     color: white;
}

body.modo-escuro .containerLogin{
  background-color: #2d2d2d;
}
